body{
    background-color: black ;
    background-image: url("https://th.bing.com/th/id/OIP.32CgQZPtynRqlEV_uZE5eAHaEK?pid=ImgDet&rs=1");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    object-fit: cover;
}
